{% extends 'base.html'%} {% load static %}{% block main%}

<h3 class="h1 text-center">Magistrado</h3>
<div class="container-fluid container-grid animated fadeIn">
    {%if processo.tema == 0%}
    <h5 class="h5 pt-5 text-center text-lawyer">Demanda repetitiva tema 1007 STJ detectada</h5>
    <div class="container">
        <h5 class="h5 text-center">Vincular o resultado ?</h5>
        <div class="buttons_submit text-center buttons_submit_magistrado">
            <a href="{% url 'mags_neg'%}" type="button" class="btn btn-over btn-secondary">Desvincular</a>
            <a href="{% url 'magis_success' %}" type="button" class="btn btn-over btn-danger btn-lg">Manter	 </a>
        </div>
    </div>
    {% else %}
    <h5 class="text-center text-lawyer mt-3">Demanda repetitiva não encontrada</h5>
    {% endif %}
    <div class="row">
        <div class="col">
            <div class="pdf_container">
                <embed src="{{processo.arq.url}}" class="pdf_block" type="application/pdf" frameBorder="0" scrolling="auto">
            </div>
        </div>
        <div class="col d-flex justify-conten-center">
            <div class="img_container">
                {%if processo.tema == 0%}
                <img src="{% static 'img/milEsete.png'%}" alt="" class="responsive"> {%endif%}
            </div>
        </div>
    </div>
</div>
{% endblock %}