{% extends "base.html" %} {% load static%} {% block main %}
<h3 class="h3">Peticionamento Eletrônico - Conclusão</h3>
<div class="container-fluid conclusion">
    <p class="p_border">Informações do Processo >> Assuntos >> Partes Autoras >> Partes Réus >> Documentos >> <span class="bolder"><b> Conclusão </b></span>
    </p>
</div>
<div class="container-fluid container-grid">
    {% if file.tema == 0 %}
    <h5 class="h5 pt-5 text-center text-lawyer">Demanda repetitiva tema 1007 STJ detectada</h5>
    <p class="text-center">Vincular o resultado ?</p>
    <div class="buttons_submit buttons_submit_final">
        <a href="{% url 'page_sucesso' file.numero 1 %}" type="button" class="btn btn-outline-secondary text-dark">Não</a>
        <a href="{% url 'page_sucesso' file.numero 0 %}" type="button " class="btn btn-primary">Sim</a>
    </div>
    {%else%}
    <h5 class="text-center text-lawyer mt-5">Demanda repetitiva não encontrada</h5>
    <div class="buttons_submit buttons_submit_final">
        <a href="{% url 'page_sucesso' file.numero 1 %}" type="button " class="btn btn-primary">Prosseguir</a>
    </div>
    {%endif%}
    <div class="row">
        <div class="col">
            <div class="pdf_container">
                <embed src="{{file.arq.url}}" class="pdf_block" type="application/pdf" frameBorder="0" scrolling="auto">
            </div>
        </div>
        <div class="col d-flex justify-conten-center">
            <div class="img_container">
                {% if file.tema == 0 %}
                <img src="{% static 'img/milEsete.png'%}" alt="" class="responsive"> {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}